In [1]:
import pandas as pd

data = pd.read_csv("WDIData.csv")
data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', 'Unnamed: 64'],
      dtype='object')

In [2]:
newData = data[['Country Name', 'Indicator Name', '2016']]
newData = newData.loc[(newData['Indicator Name'] == 'Population, total') | (newData['Indicator Name'] == 'Population, female')| (newData['Indicator Name'] == 'Population, male')| (newData['Indicator Name'] == 'Land area (sq. km)')| (newData['Indicator Name'] == 'Population density (people per sq. km of land area)')| (newData['Indicator Name'] == 'Expense (% of GDP)')| (newData['Indicator Name'] == 'Revenue, excluding grants (% of GDP)')| (newData['Indicator Name'] == 'Gross domestic income (constant LCU)') | (newData['Indicator Name'] == 'Gross domestic income (constant LCU)')| (newData['Indicator Name'] == 'Life expectancy at birth, total (years)')| (newData['Indicator Name'] == 'Military expenditure (% of GDP)')| (newData['Indicator Name'] == 'CO' + str(2) + ' emissions (metric tons per capita)')]
new = newData.pivot_table('2016', ['Country Name'], 'Indicator Name')
new.to_csv("dataset2.csv")

In [3]:
hf = pd.read_csv("human-freedom-index-data-update.csv")
hf = hf.loc[(hf['year'] == 2016)]
hf = hf[['ISO_code','countries','hf_score', 'hf_rank', 'hf_quartile']]
hf.head()
#hf.to_csv("hf.csv")

  ISO_code  countries  hf_score  hf_rank  hf_quartile
0      ALB    Albania  7.568140     48.0          2.0
1      DZA    Algeria  5.135886    155.0          4.0
2      AGO     Angola  5.640662    142.0          4.0
3      ARG  Argentina  6.469848    107.0          3.0
4      ARM    Armenia  7.241402     57.0          2.0